<div>
  <h3>Oh, hello there. Now u are see a simple admin page</h3>
  <div class="text-center">
    <a class="btn btn-success" href="/users/show">Manage users</a>
    <a class="btn btn-info"href="/projects/new">Create new project</a>
    <a class="btn btn-warning" href="/tickets/new">Create new ticket</a>
  </div>
</div>
