<section>
  <h3>Editing Users</h3>
  <%= render 'user_info_form' %>
</section>
<section>
  <h3>Setup UserProjects</h3>
  <%= render 'user_project_form' %>
</section>
<%= link_to 'Back', users_show_path, class: 'btn btn_default' %>
